.structural-box {
  -fx-alignment: CENTER;
  -fx-padding: 10 10 10 10;
  -fx-spacing: 10;
}

.arm-control-box {
  -fx-spacing: 15;
}

.control-components-box {
  -fx-alignment: CENTER;
  -fx-border-width: 2px;
  -fx-border-color: #f0f0f0;
  -fx-background-color: #fafafa;
  -fx-background-radius: 3.0;
  -fx-padding: 10;
}

.sliders-box{
  -fx-hgap: 7px;
  -fx-vgap: 3px;
  -fx-padding: 0 0 15 0;
} 

.heading-label {
  -fx-font-weight: bold;
}

.joint-label {
  -fx-font-size: 14px;
}

.numberlabel {
  -fx-pref-width: 60;
}


